#header-blue{
    width: 100%;
    height: 60px;
    background-color: #0b4075;
}

#header-blue .logo{
    margin-top: 10px;
    margin-left: 40px;
    display: inline-block;
}

nav{
    position: relative;
    top: 20px;
    right: 60px;
}

nav ul li{
    list-style: none;
    display: inline;
    margin-right: 30px;
      
}
nav ul li a{
    color: #FFF;
    font-weight: bold;
}
nav ul li a{
    color: #FFF;
}

nav ul li a:hover{
    text-decoration: none;
    color:#FFF;
}
#banner img{
    width: 100%;

}


section.secao{
    background-color: #FFF;
    width: 100%;
    height: 400px;
}
section.slider{
    background-color: #062443;
    width: 100%;
    height: 300px;
}

.quadrante{
    width: 700px;
    height: 150px;
    border: 1px solid #c9c9c9;
    padding: 10px;
    margin-top: 20px;
    margin-left: 50px;
    display: inline-block;
}

.quadrante h2{
    font-size: 20px;
    color: #0b4075;
    padding: 10px;
    
}
.quadrante p{
    padding-left: 10px;
    font-size: 16px;
}

.imagem_logo{
    background-image: url("../img/Logo2.png");
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    display: inline-block;
    position: relative;
    top: 25px;
        
}

.fotos{
    margin-top: 25px;

}


